

#reklam .text h6 {
    font-size: 60px;
    width: 95%;
}
.simdiden{
    margin-bottom: 53px !important;
    width: 45% !important;
}
#footer #top_footer .info h4 {
    font-size: 22px;   
}
#footer #bottom_footer #telif h3{
    justify-content: center;
}

#footer #top_footer .info h2 a {
    font-size: 16px;
}